body{
	color: #000;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}
h1{
	font-size: 75px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.btn{
	display: block;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 400;
	color: #000;
	border: 1px solid #000;
	border-radius: 15px;
	padding: 15px 25px;
	margin-top: 50px;
	transition: 1s;
}
.main{
	height: 100vh;
	background-color: #cccc00;
}
.wraper{
	max-width: 1170px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.section_header{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 150px;
	margin-bottom: 100px;
}
.section_header h2{
	font-size: 30px;
	color: #000;
	text-transform: uppercase;
	font-weight: 400;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
}
.menu{
	display: flex;
	justify-content: space-around;
}
.menu li{
	list-style: none;
	margin-left: 60px;
}
.menu li a{
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 500;
}
.menu li a:hover{
	color: #ff751a;
}
.main_text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000;
}
.main_text span{
	font-size: 25px;
	text-transform: uppercase;
}
.main_text a{
	color: #000;
}
.main_text a:hover{
	color: #000;
	border: 1px solid #000;
	background-color: #ff751a;
}
.main_arrow{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.main_arrow a{
	color: #000;
	font-size: 40px;
	transition: 1s;
}
.main_arrow a:hover{
	color: #ff751a;
}
.andvantages_content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.item{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 70px;
	transition: 1s;
}
.item:hover{
	transform: scale(1.2);
}
.item i{
	font-size: 12rem;
	color: #000;
	transition: 1s;
}
.item i:hover{
	color: #ff751a;
}
.item span{
	font-size: 25px;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 30px;
}
.content{
	background-color: #000;
}
.map{
	position: relative;
}
.card{
	position: absolute;
	bottom: 100px;
	right: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border: 2px solid #000;
}
.card_logo{
	padding: 40px;
}
.card_logo img{
	width: 90px;
}
.card_text{
	padding: 0 20px;
}
.card_text p{
	line-height: 2;
	font-size: 18px;
	font-weight: 600;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	height: 80px;
}
.footer_text{
	color: #fff;
	font-size: 20px;
}